
@inherits R0014.Layouts.HtmlLayoutBase01

<R5T.R0014.Layouts.HtmlLayout02>
    <Head>
        <TailwindCssStylesheetLink />

        @this.Head
    </Head>
    <Body>
        @this.Body
    </Body>
</R5T.R0014.Layouts.HtmlLayout02>

