@inherits R0014.Layouts.HtmlLayoutBase01

<R5T.R0013.Layouts.TailwindedHtmlLayout01>
    <Head>
        @this.Head
    </Head>
    <Body>
        @this.Body
    </Body>
</R5T.R0013.Layouts.TailwindedHtmlLayout01>
